<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Selenium Grid Suite" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <classes>
           <class name="dockerTest.SeleniumGridTestNG"/>
        </classes>
    </test>
</suite>
